html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 50%;
  padding-top: 50px !important;
  overflow: unset !important;
}

.swiper-slide {
  width: 500px !important;
  height: 700px !important;
  background-position: center;
  background-size: cover;
}

.img-container {
  height: 100%;
  background-color:burlywood;
  overflow: hidden;
}

#lalaland {
  /* margin-top: -150px; */
}

.swiper-slide img {
  display: block;
  width: 100%;
}