.movie {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.movie.lalaland {
  background-image: url('../gifs/lalaland.gif');
}

.movie.howlsmovingcastle {
  background-image: url('../gifs/howlsmovingcastle.gif');
}

.movie.harrypotter {
  background-image: url('../gifs//harrypotter.gif');
}

.movie.cinemaparadiso {
  background-image: url('../gifs/cinemaparadiso.gif');
}

.movie.tiffany {
  background-image: url('../gifs//tiffany.gif');
}

.movie.amelie {
  background-image: url('../gifs//amelie.gif');
}

.movie.howlsmovingcastle > .movie-container,
.movie.lalaland > .movie-container,
.movie.harrypotter > .movie-container,
.movie.cinemaparadiso > .movie-container,
.movie.tiffany > .movie-container,
.movie.amelie > .movie-container {
  background-color: white;
  opacity: 0.7;
}

.movie-container {
  display: flex;
  width: 500px;
  height: 70%;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.movie-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.movie-title img {
  height: 100%;
  width: 50%;
}

.movie-note {
  height: 100%;
  margin-bottom: 50px;
}

.movie-note > h2 {
  letter-spacing: 10px;
}